.HeaderContainer {
    background: linear-gradient(270deg, #56A7F2 27.97%, rgba(255, 255, 255, 0.00) 83.44%), #2E52F8;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.15);
    height: 54px;
    padding: 0 11px;
    color: #FFFFFF;

    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderContainerModules {
    display: flex;
    // gap: 15px;
    div:last-child {
        border-right: none;
    }
}

.HeaderContainerModule {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 12px 6px 0;
}

.HeaderContainerModuleButton {
    padding: 6px;
    border-radius: 4px;
    gap: 5px;
    display: flex;
    cursor: pointer;
    &Active {
        background-color: rgba(255, 255, 255, 0.1);
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.HeaderContainerActionsContent {
    display: flex;
}

.HeaderContainerActions {
    display: flex;
    align-items: center;
}

.HeaderContainerAction {
    display: flex;
    gap: 15px;
    padding: 0 7.5px;
    align-items: center;
    img {
        width: 21px;
        height: 21px;
    }
}

.HeaderContainerActionUser {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
}

.HeaderContainerActionLogo {
    border-radius: 3px;
    border: 1px solid #EDE9E9;
    background: #FFF;
    width: 87px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VerticalLine {
    height: 30px;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}