.HeaderContainer {
    background: linear-gradient(270deg, #56A7F2 27.97%, rgba(255, 255, 255, 0.00) 83.44%), #2E52F8;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.15);
    height: 54px;
    padding: 0 11px;
    color: #FFFFFF;

    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderContainerModules {
    display: flex;
    gap: 20px;
}